{% extends 'base.html.twig' %}

{% block title %}CtVisiteExtraTarif index{% endblock %}

{% block body %}
    <h1>Liste Visite Extra Tarif</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Visite extra tarif Annee</th>
                <th>Visite extra tarif Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_visite_extra_tarif in ct_visite_extra_tarifs %}
            <tr>
                <td>{{ ct_visite_extra_tarif.id }}</td>
                <td>{{ ct_visite_extra_tarif.vetAnnee }}</td>
                <td>{{ ct_visite_extra_tarif.vetPrix }}</td>
                <td>
                    <a href="{{ path('ct_visite_extra_tarif_show', {'id': ct_visite_extra_tarif.id}) }}">voir</a>
                    <a href="{{ path('ct_visite_extra_tarif_edit', {'id': ct_visite_extra_tarif.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_visite_extra_tarif_new') }}">Créer</a>
{% endblock %}
