{% extends 'base.html.twig' %}

{% block title %}CtVisiteExtraTarif index{% endblock %}

{% block body %}
    <h1>CtVisiteExtraTarif index</h1>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>VetAnnee</th>
                <th>VetPrix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_visite_extra_tarif in ct_visite_extra_tarifs %}
            <tr>
                <td>{{ ct_visite_extra_tarif.id }}</td>
                <td>{{ ct_visite_extra_tarif.vetAnnee }}</td>
                <td>{{ ct_visite_extra_tarif.vetPrix }}</td>
                <td>
                    <a href="{{ path('ct_visite_extra_tarif_show', {'id': ct_visite_extra_tarif.id}) }}">show</a>
                    <a href="{{ path('ct_visite_extra_tarif_edit', {'id': ct_visite_extra_tarif.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_visite_extra_tarif_new') }}">Create new</a>
{% endblock %}
