{% extends 'base.html.twig' %}

{% block title %}CtCarosserie index{% endblock %}

{% block body %}
    <h1>Liste Carosserie</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Carosserie Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_carosserie in ct_carosseries %}
            <tr>
                <td>{{ ct_carosserie.id }}</td>
                <td>{{ ct_carosserie.crsLibelle }}</td>
                <td>
                    <a href="{{ path('ct_carosserie_show', {'id': ct_carosserie.id}) }}">voir</a>
                    <a href="{{ path('ct_carosserie_edit', {'id': ct_carosserie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_carosserie_new') }}">Créer</a>
{% endblock %}
