{% extends 'base.html.twig' %}

{% block title %}CtCentre index{% endblock %}

{% block body %}
    <h1>Liste Centre</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Centre</th>
                <th>Code Centre</th>
                <th>Date création Centre</th>
                <th>CtrUpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_centre in ct_centres %}
            <tr>
                <td>{{ ct_centre.id }}</td>
                <td>{{ ct_centre.ctrNom }}</td>
                <td>{{ ct_centre.ctrCode }}</td>
                <td>{{ ct_centre.ctrCreatedAt ? ct_centre.ctrCreatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_centre.ctrUpdatedAt ? ct_centre.ctrUpdatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('ct_centre_show', {'id': ct_centre.id}) }}">voir</a>
                    <a href="{{ path('ct_centre_edit', {'id': ct_centre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_centre_new') }}">Créer</a>
{% endblock %}
