{% extends 'base.html.twig' %}

{% block title %}CtCentre{% endblock %}

{% block body %}
    <h1>Centre</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_centre.id }}</td>
            </tr>
            <tr>
                <th>Nom Centre</th>
                <td>{{ ct_centre.ctrNom }}</td>
            </tr>
            <tr>
                <th>Code Centre</th>
                <td>{{ ct_centre.ctrCode }}</td>
            </tr>
            <tr>
                <th>Date Création Centre</th>
                <td>{{ ct_centre.ctrCreatedAt ? ct_centre.ctrCreatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date Modification Centre</th>
                <td>{{ ct_centre.ctrUpdatedAt ? ct_centre.ctrUpdatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_centre_index') }}">Retour</a>

    <a href="{{ path('ct_centre_edit', {'id': ct_centre.id}) }}">Modifier</a>

    {{ include('ct_centre/_delete_form.html.twig') }}
{% endblock %}
