{% extends 'base.html.twig' %}

{% block title %}CtCentre{% endblock %}

{% block body %}
    <h1>CtCentre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_centre.id }}</td>
            </tr>
            <tr>
                <th>CtrNom</th>
                <td>{{ ct_centre.ctrNom }}</td>
            </tr>
            <tr>
                <th>CtrCode</th>
                <td>{{ ct_centre.ctrCode }}</td>
            </tr>
            <tr>
                <th>CtrCreatedAt</th>
                <td>{{ ct_centre.ctrCreatedAt ? ct_centre.ctrCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CtrUpdatedAt</th>
                <td>{{ ct_centre.ctrUpdatedAt ? ct_centre.ctrUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_centre_index') }}">back to list</a>

    <a href="{{ path('ct_centre_edit', {'id': ct_centre.id}) }}">edit</a>

    {{ include('ct_centre/_delete_form.html.twig') }}
{% endblock %}
