{% extends 'base.html.twig' %}

{% block title %}CtMotifTarif{% endblock %}

{% block body %}
    <h1>CtMotifTarif</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_motif_tarif.id }}</td>
            </tr>
            <tr>
                <th>MtfTrfPrix</th>
                <td>{{ ct_motif_tarif.mtfTrfPrix }}</td>
            </tr>
            <tr>
                <th>MtfTrfDate</th>
                <td>{{ ct_motif_tarif.mtfTrfDate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_motif_tarif_index') }}">back to list</a>

    <a href="{{ path('ct_motif_tarif_edit', {'id': ct_motif_tarif.id}) }}">edit</a>

    {{ include('ct_motif_tarif/_delete_form.html.twig') }}
{% endblock %}
