{% extends 'base.html.twig' %}

{% block title %}CtVisiteExtra index{% endblock %}

{% block body %}
    <h1>Liste Visite Extra</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Visite Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_visite_extra in ct_visite_extras %}
            <tr>
                <td>{{ ct_visite_extra.id }}</td>
                <td>{{ ct_visite_extra.vsteLibelle }}</td>
                <td>
                    <a href="{{ path('ct_visite_extra_show', {'id': ct_visite_extra.id}) }}">voir</a>
                    <a href="{{ path('ct_visite_extra_edit', {'id': ct_visite_extra.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_visite_extra_new') }}">Créer</a>
{% endblock %}
