{% extends 'base.html.twig' %}

{% block title %}CtVisiteExtra{% endblock %}

{% block body %}
    <h1>Visite Extra</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_visite_extra.id }}</td>
            </tr>
            <tr>
                <th>Visite Libelle</th>
                <td>{{ ct_visite_extra.vsteLibelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_visite_extra_index') }}">Retour</a>

    <a href="{{ path('ct_visite_extra_edit', {'id': ct_visite_extra.id}) }}">Modifier</a>

    {{ include('ct_visite_extra/_delete_form.html.twig') }}
{% endblock %}
