{% extends 'base.html.twig' %}

{% block title %}CtSourceEnergie index{% endblock %}

{% block body %}
    <h1>Liste Source d'Energie</h1>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle Source d'Energie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_source_energie in ct_source_energies %}
            <tr>
                <td>{{ ct_source_energie.id }}</td>
                <td>{{ ct_source_energie.sreLibelle }}</td>
                <td>
                    <a href="{{ path('ct_source_energie_show', {'id': ct_source_energie.id}) }}">voir</a>
                    <a href="{{ path('ct_source_energie_edit', {'id': ct_source_energie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_source_energie_new') }}">Créer</a>
{% endblock %}
