{% extends 'base.html.twig' %}

{% block title %}CtSourceEnergie{% endblock %}

{% block body %}
    <h1>Source d'Energie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_source_energie.id }}</td>
            </tr>
            <tr>
                <th>Source d'energie Libelle</th>
                <td>{{ ct_source_energie.sreLibelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_source_energie_index') }}">Retour</a>

    <a href="{{ path('ct_source_energie_edit', {'id': ct_source_energie.id}) }}">Modifier</a>

    {{ include('ct_source_energie/_delete_form.html.twig') }}
{% endblock %}
