{% extends 'base.html.twig' %}

{% block title %}CtUtilisation index{% endblock %}

{% block body %}
    <h1>Liste Utilisation</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Utilisation Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_utilisation in ct_utilisations %}
            <tr>
                <td>{{ ct_utilisation.id }}</td>
                <td>{{ ct_utilisation.utLibelle }}</td>
                <td>
                    <a href="{{ path('ct_utilisation_show', {'id': ct_utilisation.id}) }}">voir</a>
                    <a href="{{ path('ct_utilisation_edit', {'id': ct_utilisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_utilisation_new') }}">Créer</a>
{% endblock %}
