{% extends 'base.html.twig' %}

{% block title %}CtUtilisation{% endblock %}

{% block body %}
    <h1>CtUtilisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_utilisation.id }}</td>
            </tr>
            <tr>
                <th>UtLibelle</th>
                <td>{{ ct_utilisation.utLibelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_utilisation_index') }}">back to list</a>

    <a href="{{ path('ct_utilisation_edit', {'id': ct_utilisation.id}) }}">edit</a>

    {{ include('ct_utilisation/_delete_form.html.twig') }}
{% endblock %}
