{% extends 'base.html.twig' %}

{% block title %}CtDroitPtacBak index{% endblock %}

{% block body %}
    <h1>Liste Bak Droit PTAC</h1>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Genre Categorie Id</th>
                <th>Prix Minimum</th>
                <th>Prix Maximum</th>
                <th>Droit</th>
                <th>Type Droit Ptac Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_droit_ptac_bak in ct_droit_ptac_baks %}
            <tr>
                <td>{{ ct_droit_ptac_bak.id }}</td>
                <td>{{ ct_droit_ptac_bak.ctGenreCategorieId }}</td>
                <td>{{ ct_droit_ptac_bak.dpPrixMin }}</td>
                <td>{{ ct_droit_ptac_bak.dpPrixMax }}</td>
                <td>{{ ct_droit_ptac_bak.dpDroit }}</td>
                <td>{{ ct_droit_ptac_bak.ctTypeDroitPtacId }}</td>
                <td>
                    <a href="{{ path('ct_droit_ptac_bak_show', {'id': ct_droit_ptac_bak.id}) }}">voir</a>
                    <a href="{{ path('ct_droit_ptac_bak_edit', {'id': ct_droit_ptac_bak.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_droit_ptac_bak_new') }}">Créer</a>
{% endblock %}
