{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div align="center"><img src="/dist/images/header.png" class="img-fluid" alt="Image en-tête de la DGSR"></div>
    <div align="center"><h1>Ct User Liste</h1></div>

    <div align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>
    <br>
    <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('user_recherche') }}">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" id="search" class="form-control" placeholder="Search...">
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Mail</th>
                <th>Nom et prénom</th>
                <th>Centre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_user in ct_users %}
            <tr>
                <td>{{ ct_user.username }}</td>
                <td>{{ ct_user.email }}</td>
                <td>{{ ct_user.usrName }}</td>
                <td>{{ ct_user.ctCentre.ctrNom }}</td>
                <td>
                    <a href="{{ path('ct_affectation', {'id': ct_user.id}) }}">Affecter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="27">Aucun utilisateur trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(ct_users) }}
    </div>

    <a href="{{ path('ct_liste') }}">Retours vers la liste</a>
{% endblock %}
