{% extends 'base.html.twig' %}

{% block title %}CtVisiteAnomalie index{% endblock %}

{% block body %}
    <h1>Liste Visite Anomalie</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Anomalie Id</th>
                <th>Visite Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_visite_anomalie in ct_visite_anomalies %}
            <tr>
                <td>{{ ct_visite_anomalie.id }}</td>
                <td>{{ ct_visite_anomalie.ctAnomalieId }}</td>
                <td>{{ ct_visite_anomalie.ctVisiteId }}</td>
                <td>
                    <a href="{{ path('ct_visite_anomalie_show', {'id': ct_visite_anomalie.id}) }}">voir</a>
                    <a href="{{ path('ct_visite_anomalie_edit', {'id': ct_visite_anomalie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_visite_anomalie_new') }}">Créer</a>
{% endblock %}
