{% extends 'base.html.twig' %}

{% block title %}CtVisiteAnomalie index{% endblock %}

{% block body %}
    <h1>CtVisiteAnomalie index</h1>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CtAnomalieId</th>
                <th>CtVisiteId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_visite_anomalie in ct_visite_anomalies %}
            <tr>
                <td>{{ ct_visite_anomalie.id }}</td>
                <td>{{ ct_visite_anomalie.ctAnomalieId }}</td>
                <td>{{ ct_visite_anomalie.ctVisiteId }}</td>
                <td>
                    <a href="{{ path('ct_visite_anomalie_show', {'id': ct_visite_anomalie.id}) }}">show</a>
                    <a href="{{ path('ct_visite_anomalie_edit', {'id': ct_visite_anomalie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_visite_anomalie_new') }}">Create new</a>
{% endblock %}
