{% extends 'base.html.twig' %}

{% block title %}CtVisiteAnomalie{% endblock %}

{% block body %}
    <h1>Visite Anomalie</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_visite_anomalie.id }}</td>
            </tr>
            <tr>
                <th>Anomalie Id</th>
                <td>{{ ct_visite_anomalie.ctAnomalieId }}</td>
            </tr>
            <tr>
                <th>Visite Id</th>
                <td>{{ ct_visite_anomalie.ctVisiteId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_visite_anomalie_index') }}">Retour</a>

    <a href="{{ path('ct_visite_anomalie_edit', {'id': ct_visite_anomalie.id}) }}">Modifier</a>

    {{ include('ct_visite_anomalie/_delete_form.html.twig') }}
{% endblock %}
