{% extends 'base.html.twig' %}

{% block title %}CtAnomalieType index{% endblock %}

{% block body %}
    <h1>Liste des Type d'Anomalie</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type Anomalie Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_anomalie_type in ct_anomalie_types %}
            <tr>
                <td>{{ ct_anomalie_type.id }}</td>
                <td>{{ ct_anomalie_type.atpLibelle }}</td>
                <td>
                    <a href="{{ path('ct_anomalie_type_show', {'id': ct_anomalie_type.id}) }}">voir</a>
                    <a href="{{ path('ct_anomalie_type_edit', {'id': ct_anomalie_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_anomalie_type_new') }}">Créer</a>
{% endblock %}
