{% extends 'base.html.twig' %}

{% block title %}CtVehicule index{% endblock %}

{% block body %}
    <h1>Liste Véhicule</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cylindre</th>
                <th>Puissance</th>
                <th>Poids A Vide</th>
                <th>Charge Utile</th>
                <th>Hauteur</th>
                <th>Largeur</th>
                <th>Longueur</th>
                <th>Numéro de Serie</th>
                <th>Numéro Moteur</th>
                <th>Created</th>
                <th>Provenance</th>
                <th>Type</th>
                <th>Poids Total A Charge</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_vehicule in ct_vehicules %}
            <tr>
                <td>{{ ct_vehicule.id }}</td>
                <td>{{ ct_vehicule.vhcCylindre }}</td>
                <td>{{ ct_vehicule.vhcPuissance }}</td>
                <td>{{ ct_vehicule.vhcPoidsVide }}</td>
                <td>{{ ct_vehicule.vhcChargeUtile }}</td>
                <td>{{ ct_vehicule.vhcHauteur }}</td>
                <td>{{ ct_vehicule.vhcLargeur }}</td>
                <td>{{ ct_vehicule.vhcLongueur }}</td>
                <td>{{ ct_vehicule.vhcNumSerie }}</td>
                <td>{{ ct_vehicule.vhcNumMoteur }}</td>
                <td>{{ ct_vehicule.vhcCreated ? ct_vehicule.vhcCreated|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_vehicule.vhcProvenance }}</td>
                <td>{{ ct_vehicule.vhcType }}</td>
                <td>{{ ct_vehicule.vhcPoidsTotalCharge }}</td>
                <td>
                    <a href="{{ path('ct_vehicule_show', {'id': ct_vehicule.id}) }}">voir</a>
                    <a href="{{ path('ct_vehicule_edit', {'id': ct_vehicule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_vehicule_new') }}">Créer</a>
{% endblock %}
