{% extends 'base.html.twig' %}

{% block title %}CtVehicule{% endblock %}

{% block body %}
    <h1>Véhicule</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_vehicule.id }}</td>
            </tr>
            <tr>
                <th>Cylindre</th>
                <td>{{ ct_vehicule.vhcCylindre }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ ct_vehicule.vhcPuissance }}</td>
            </tr>
            <tr>
                <th>Poids a Vide</th>
                <td>{{ ct_vehicule.vhcPoidsVide }}</td>
            </tr>
            <tr>
                <th>ChargeUtile</th>
                <td>{{ ct_vehicule.vhcChargeUtile }}</td>
            </tr>
            <tr>
                <th>Hauteur</th>
                <td>{{ ct_vehicule.vhcHauteur }}</td>
            </tr>
            <tr>
                <th>Largeur</th>
                <td>{{ ct_vehicule.vhcLargeur }}</td>
            </tr>
            <tr>
                <th>Longueur</th>
                <td>{{ ct_vehicule.vhcLongueur }}</td>
            </tr>
            <tr>
                <th>Numéro Serie</th>
                <td>{{ ct_vehicule.vhcNumSerie }}</td>
            </tr>
            <tr>
                <th>Numéro Moteur</th>
                <td>{{ ct_vehicule.vhcNumMoteur }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ ct_vehicule.vhcCreated ? ct_vehicule.vhcCreated|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Provenance</th>
                <td>{{ ct_vehicule.vhcProvenance }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ ct_vehicule.vhcType }}</td>
            </tr>
            <tr>
                <th>Poids Total a Charge</th>
                <td>{{ ct_vehicule.vhcPoidsTotalCharge }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_vehicule_index') }}">Retour</a>

    <a href="{{ path('ct_vehicule_edit', {'id': ct_vehicule.id}) }}">Modifier</a>

    {{ include('ct_vehicule/_delete_form.html.twig') }}
{% endblock %}
