{% extends 'base.html.twig' %}

{% block title %}CtAnomalie index{% endblock %}

{% block body %}
    <h1>CtAnomalie index</h1>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AnmlLibelle</th>
                <th>AnmlCode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_anomalie in ct_anomalies %}
            <tr>
                <td>{{ ct_anomalie.id }}</td>
                <td>{{ ct_anomalie.anmlLibelle }}</td>
                <td>{{ ct_anomalie.anmlCode }}</td>
                <td>
                    <a href="{{ path('ct_anomalie_show', {'id': ct_anomalie.id}) }}">show</a>
                    <a href="{{ path('ct_anomalie_edit', {'id': ct_anomalie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_anomalie_new') }}">Create new</a>
{% endblock %}
