{% extends 'base.html.twig' %}

{% block title %}CtMotif index{% endblock %}

{% block body %}
    <h1>Liste Motif</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motif Libelle</th>
                <th>Motif Est Calculable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_motif in ct_motifs %}
            <tr>
                <td>{{ ct_motif.id }}</td>
                <td>{{ ct_motif.mtfLibelle }}</td>
                <td>{{ ct_motif.mtfIsCalculable ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('ct_motif_show', {'id': ct_motif.id}) }}">voir</a>
                    <a href="{{ path('ct_motif_edit', {'id': ct_motif.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_motif_new') }}">Créer</a>
{% endblock %}
