{% extends 'base.html.twig' %}

{% block title %}CtMotif{% endblock %}

{% block body %}
    <h1>Motif</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_motif.id }}</td>
            </tr>
            <tr>
                <th>Motif Libelle</th>
                <td>{{ ct_motif.mtfLibelle }}</td>
            </tr>
            <tr>
                <th>Motif est Calculable</th>
                <td>{{ ct_motif.mtfIsCalculable ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_motif_index') }}">Retour</a>

    <a href="{{ path('ct_motif_edit', {'id': ct_motif.id}) }}">Modifier</a>

    {{ include('ct_motif/_delete_form.html.twig') }}
{% endblock %}
