{% extends 'base.html.twig' %}

{% block title %}CtUsage index{% endblock %}

{% block body %}
    <h1>Liste Usage</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle Usage</th>
                <th>Validite Usage</th>
                <th>Création Usage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_usage in ct_usages %}
            <tr>
                <td>{{ ct_usage.id }}</td>
                <td>{{ ct_usage.usgLibelle }}</td>
                <td>{{ ct_usage.usgValidite }}</td>
                <td>{{ ct_usage.usgCreated ? ct_usage.usgCreated|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('ct_usage_show', {'id': ct_usage.id}) }}">voir</a>
                    <a href="{{ path('ct_usage_edit', {'id': ct_usage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_usage_new') }}">Créer</a>
{% endblock %}
