{% extends 'base.html.twig' %}

{% block title %}CtUsage{% endblock %}

{% block body %}
    <h1>CtUsage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_usage.id }}</td>
            </tr>
            <tr>
                <th>UsgLibelle</th>
                <td>{{ ct_usage.usgLibelle }}</td>
            </tr>
            <tr>
                <th>UsgValidite</th>
                <td>{{ ct_usage.usgValidite }}</td>
            </tr>
            <tr>
                <th>UsgCreated</th>
                <td>{{ ct_usage.usgCreated ? ct_usage.usgCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_usage_index') }}">back to list</a>

    <a href="{{ path('ct_usage_edit', {'id': ct_usage.id}) }}">edit</a>

    {{ include('ct_usage/_delete_form.html.twig') }}
{% endblock %}
