{% extends 'base.html.twig' %}

{% block title %}CtTypeUsage{% endblock %}

{% block body %}
    <h1>Type d'Usage</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_type_usage.id }}</td>
            </tr>
            <tr>
                <th>Type usage Libelle</th>
                <td>{{ ct_type_usage.tpuLibelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_type_usage_index') }}">Retour</a>

    <a href="{{ path('ct_type_usage_edit', {'id': ct_type_usage.id}) }}">Modifier</a>

    {{ include('ct_type_usage/_delete_form.html.twig') }}
{% endblock %}
