{% extends 'base.html.twig' %}

{% block title %}CtUsageTarif index{% endblock %}

{% block body %}
    <h1>Liste Tarif Usage</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Annee Tarif Usage</th>
                <th>Prix Tarif Usage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_usage_tarif in ct_usage_tarifs %}
            <tr>
                <td>{{ ct_usage_tarif.id }}</td>
                <td>{{ ct_usage_tarif.usgTrfAnnee }}</td>
                <td>{{ ct_usage_tarif.usgTrfPrix }}</td>
                <td>
                    <a href="{{ path('ct_usage_tarif_show', {'id': ct_usage_tarif.id}) }}">voir</a>
                    <a href="{{ path('ct_usage_tarif_edit', {'id': ct_usage_tarif.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_usage_tarif_new') }}">Créer</a>
{% endblock %}
