{% extends 'base.html.twig' %}

{% block title %}CtUsageTarif{% endblock %}

{% block body %}
    <h1>Usage Tarif</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_usage_tarif.id }}</td>
            </tr>
            <tr>
                <th>Usage Tarif Année</th>
                <td>{{ ct_usage_tarif.usgTrfAnnee }}</td>
            </tr>
            <tr>
                <th>Usage Tarif Prix</th>
                <td>{{ ct_usage_tarif.usgTrfPrix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_usage_tarif_index') }}">Retour</a>

    <a href="{{ path('ct_usage_tarif_edit', {'id': ct_usage_tarif.id}) }}">Modifier</a>

    {{ include('ct_usage_tarif/_delete_form.html.twig') }}
{% endblock %}
