{% extends 'base.html.twig' %}

{% block title %}CtConstAvDedCarac index{% endblock %}

{% block body %}
    <h1>Liste Caractéristique Constatation Avant Dedouanement</h1>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cad Cylindre</th>
                <th>Cad Puissance</th>
                <th>Cad Poids A Vide</th>
                <th>Cad Charge Utile</th>
                <th>Cad Hauteur</th>
                <th>Cad Largeur</th>
                <th>Cad Longueur</th>
                <th>Cad Type de Numéro de Serie</th>
                <th>Cad Numéro Moteur</th>
                <th>Cad Type Caractéristique</th>
                <th>Cad Poids Maximal</th>
                <th>Cad Poids Total A Charge</th>
                <th>Cad Première Circulation</th>
                <th>Cad Nombre place Assis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_const_av_ded_carac in ct_const_av_ded_caracs %}
            <tr>
                <td>{{ ct_const_av_ded_carac.id }}</td>
                <td>{{ ct_const_av_ded_carac.cadCylindre }}</td>
                <td>{{ ct_const_av_ded_carac.cadPuissance }}</td>
                <td>{{ ct_const_av_ded_carac.cadPoidsVide }}</td>
                <td>{{ ct_const_av_ded_carac.cadChargeUtile }}</td>
                <td>{{ ct_const_av_ded_carac.cadHauteur }}</td>
                <td>{{ ct_const_av_ded_carac.cadLargeur }}</td>
                <td>{{ ct_const_av_ded_carac.cadLongueur }}</td>
                <td>{{ ct_const_av_ded_carac.cadNumSerieType }}</td>
                <td>{{ ct_const_av_ded_carac.cadNumMoteur }}</td>
                <td>{{ ct_const_av_ded_carac.cadTypeCar }}</td>
                <td>{{ ct_const_av_ded_carac.cadPoidsMaxima }}</td>
                <td>{{ ct_const_av_ded_carac.cadPoidsTotalCharge }}</td>
                <td>{{ ct_const_av_ded_carac.cadPremiereCircule }}</td>
                <td>{{ ct_const_av_ded_carac.cadNbrAssis }}</td>
                <td>
                    <a href="{{ path('ct_const_av_ded_carac_show', {'id': ct_const_av_ded_carac.id}) }}">voir</a>
                    <a href="{{ path('ct_const_av_ded_carac_edit', {'id': ct_const_av_ded_carac.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_const_av_ded_carac_new') }}">Créer</a>
{% endblock %}
