{% extends 'base.html.twig' %}

{% block title %}CtConstAvDedCarac{% endblock %}

{% block body %}
    <h1>Caractéristique Constatation Avant Dedouanement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_const_av_ded_carac.id }}</td>
            </tr>
            <tr>
                <th>Cylindre</th>
                <td>{{ ct_const_av_ded_carac.cadCylindre }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ ct_const_av_ded_carac.cadPuissance }}</td>
            </tr>
            <tr>
                <th>Poids a Vide</th>
                <td>{{ ct_const_av_ded_carac.cadPoidsVide }}</td>
            </tr>
            <tr>
                <th>Charge Utile</th>
                <td>{{ ct_const_av_ded_carac.cadChargeUtile }}</td>
            </tr>
            <tr>
                <th>Hauteur</th>
                <td>{{ ct_const_av_ded_carac.cadHauteur }}</td>
            </tr>
            <tr>
                <th>Largeur</th>
                <td>{{ ct_const_av_ded_carac.cadLargeur }}</td>
            </tr>
            <tr>
                <th>Longueur</th>
                <td>{{ ct_const_av_ded_carac.cadLongueur }}</td>
            </tr>
            <tr>
                <th>Numéro de Serie du Type</th>
                <td>{{ ct_const_av_ded_carac.cadNumSerieType }}</td>
            </tr>
            <tr>
                <th>Numéro Moteur</th>
                <td>{{ ct_const_av_ded_carac.cadNumMoteur }}</td>
            </tr>
            <tr>
                <th>Type Cararactéristique</th>
                <td>{{ ct_const_av_ded_carac.cadTypeCar }}</td>
            </tr>
            <tr>
                <th>Poids Maximal</th>
                <td>{{ ct_const_av_ded_carac.cadPoidsMaxima }}</td>
            </tr>
            <tr>
                <th>Poids Total a Charge</th>
                <td>{{ ct_const_av_ded_carac.cadPoidsTotalCharge }}</td>
            </tr>
            <tr>
                <th>Premiere Circulation</th>
                <td>{{ ct_const_av_ded_carac.cadPremiereCircule }}</td>
            </tr>
            <tr>
                <th>Nombre place Assise</th>
                <td>{{ ct_const_av_ded_carac.cadNbrAssis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_const_av_ded_carac_index') }}">Retour</a>

    <a href="{{ path('ct_const_av_ded_carac_edit', {'id': ct_const_av_ded_carac.id}) }}">Modifier</a>

    {{ include('ct_const_av_ded_carac/_delete_form.html.twig') }}
{% endblock %}
