{% extends 'base.html.twig' %}

{% block title %}CtProvince index{% endblock %}

{% block body %}
    <h1>Liste Province</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prv Nom</th>
                <th>Prv Code</th>
                <th>Prv CreatedAt</th>
                <th>Prv UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_province in ct_provinces %}
            <tr>
                <td>{{ ct_province.id }}</td>
                <td>{{ ct_province.prvNom }}</td>
                <td>{{ ct_province.prvCode }}</td>
                <td>{{ ct_province.prvCreatedAt ? ct_province.prvCreatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_province.prvUpdatedAt ? ct_province.prvUpdatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('ct_province_show', {'id': ct_province.id}) }}">voir</a>
                    <a href="{{ path('ct_province_edit', {'id': ct_province.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_province_new') }}">Créer</a>
{% endblock %}
