{% extends 'base.html.twig' %}

{% block title %}CtGenreTarif{% endblock %}

{% block body %}
    <h1>Genre Tarif</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_genre_tarif.id }}</td>
            </tr>
            <tr>
                <th>Genre tarif Prix</th>
                <td>{{ ct_genre_tarif.grtPrix }}</td>
            </tr>
            <tr>
                <th>Genre tarif Annee</th>
                <td>{{ ct_genre_tarif.grtAnnee }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_genre_tarif_index') }}">Retour</a>

    <a href="{{ path('ct_genre_tarif_edit', {'id': ct_genre_tarif.id}) }}">Modifier</a>

    {{ include('ct_genre_tarif/_delete_form.html.twig') }}
{% endblock %}
