{% extends 'base.html.twig' %}

{% block title %}CtTypeReception index{% endblock %}

{% block body %}
    <h1>Liste Type de Reception</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle Type de Reception</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_type_reception in ct_type_receptions %}
            <tr>
                <td>{{ ct_type_reception.id }}</td>
                <td>{{ ct_type_reception.tprcpLibelle }}</td>
                <td>
                    <a href="{{ path('ct_type_reception_show', {'id': ct_type_reception.id}) }}">voir</a>
                    <a href="{{ path('ct_type_reception_edit', {'id': ct_type_reception.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_type_reception_new') }}">Créer</a>
{% endblock %}
