{% extends 'base.html.twig' %}

{% block title %}CtTypeReception{% endblock %}

{% block body %}
    <h1>Type de Réception</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_type_reception.id }}</td>
            </tr>
            <tr>
                <th>Type de réception Libelle</th>
                <td>{{ ct_type_reception.tprcpLibelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_type_reception_index') }}">Retour</a>

    <a href="{{ path('ct_type_reception_edit', {'id': ct_type_reception.id}) }}">Modifier</a>

    {{ include('ct_type_reception/_delete_form.html.twig') }}
{% endblock %}
