{% extends 'base.html.twig' %}

{% block title %}CtMarque{% endblock %}

{% block body %}
    <h1>Marque</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_marque.id }}</td>
            </tr>
            <tr>
                <th>Marque Libelle</th>
                <td>{{ ct_marque.mrqLibelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_marque_index') }}">Retour</a>

    <a href="{{ path('ct_marque_edit', {'id': ct_marque.id}) }}">Modification</a>

    {{ include('ct_marque/_delete_form.html.twig') }}
{% endblock %}
