{% extends 'base.html.twig' %}

{% block title %}CtVisiteBuckup index{% endblock %}

{% block body %}
    <h1>Liste Buckup Visite</h1>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Carte Grise Id</th>
                <th>Centre Id</th>
                <th>Type Visite Id</th>
                <th>Usage Id</th>
                <th>Secrétaire Id</th>
                <th>Verificateur Id</th>
                <th>Vst Numéro Pv</th>
                <th>Vst Num Feuille Caisse</th>
                <th>VstDateExpiration</th>
                <th>Vst Created</th>
                <th>Vst Updated</th>
                <th>Utilisation Id</th>
                <th>Aptitude</th>
                <th>Type Visite</th>
                <th>Durée Réparation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_visite_buckup in ct_visite_buckups %}
            <tr>
                <td>{{ ct_visite_buckup.id }}</td>
                <td>{{ ct_visite_buckup.ctCarteGriseId }}</td>
                <td>{{ ct_visite_buckup.ctCentreId }}</td>
                <td>{{ ct_visite_buckup.ctTypeVisiteId }}</td>
                <td>{{ ct_visite_buckup.ctUsageId }}</td>
                <td>{{ ct_visite_buckup.ctUserId }}</td>
                <td>{{ ct_visite_buckup.ctVerificateurId }}</td>
                <td>{{ ct_visite_buckup.vstNumPv }}</td>
                <td>{{ ct_visite_buckup.vstNumFeuilleCaisse }}</td>
                <td>{{ ct_visite_buckup.vstDateExpiration ? ct_visite_buckup.vstDateExpiration|date('d/m/Y') : '' }}</td>
                <td>{{ ct_visite_buckup.vstCreated ? ct_visite_buckup.vstCreated|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_visite_buckup.vstUpdated ? ct_visite_buckup.vstUpdated|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_visite_buckup.ctUtilisationId }}</td>
                <td>{{ ct_visite_buckup.vstIsApte ? 'Apte' : 'Inapte' }}</td>
                <td>{{ ct_visite_buckup.vstIsContreVisite ? 'Contre' : 'Première' }}</td>
                <td>{{ ct_visite_buckup.vstDureeReparation }}</td>
                <td>
                    <a href="{{ path('ct_visite_buckup_show', {'id': ct_visite_buckup.id}) }}">voir</a>
                    <a href="{{ path('ct_visite_buckup_edit', {'id': ct_visite_buckup.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_visite_buckup_new') }}">Créer</a>
{% endblock %}
