{% extends 'base.html.twig' %}

{% block title %}CtVisiteBuckup{% endblock %}

{% block body %}
    <h1>Buckup Visite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_visite_buckup.id }}</td>
            </tr>
            <tr>
                <th>Carte Grise Id</th>
                <td>{{ ct_visite_buckup.ctCarteGriseId }}</td>
            </tr>
            <tr>
                <th>Centre Id</th>
                <td>{{ ct_visite_buckup.ctCentreId }}</td>
            </tr>
            <tr>
                <th>Type Visite Id</th>
                <td>{{ ct_visite_buckup.ctTypeVisiteId }}</td>
            </tr>
            <tr>
                <th>Usage Id</th>
                <td>{{ ct_visite_buckup.ctUsageId }}</td>
            </tr>
            <tr>
                <th>User Id</th>
                <td>{{ ct_visite_buckup.ctUserId }}</td>
            </tr>
            <tr>
                <th>Verificateur Id</th>
                <td>{{ ct_visite_buckup.ctVerificateurId }}</td>
            </tr>
            <tr>
                <th>Numéro Pv</th>
                <td>{{ ct_visite_buckup.vstNumPv }}</td>
            </tr>
            <tr>
                <th>Numéro Feuille de Caisse</th>
                <td>{{ ct_visite_buckup.vstNumFeuilleCaisse }}</td>
            </tr>
            <tr>
                <th>Date Expiration</th>
                <td>{{ ct_visite_buckup.vstDateExpiration ? ct_visite_buckup.vstDateExpiration|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ ct_visite_buckup.vstCreated ? ct_visite_buckup.vstCreated|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ ct_visite_buckup.vstUpdated ? ct_visite_buckup.vstUpdated|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Utilisation Id</th>
                <td>{{ ct_visite_buckup.ctUtilisationId }}</td>
            </tr>
            <tr>
                <th>Aptitude</th>
                <td>{{ ct_visite_buckup.vstIsApte ? 'Apte' : 'Inapte' }}</td>
            </tr>
            <tr>
                <th>Type de Visite</th>
                <td>{{ ct_visite_buckup.vstIsContreVisite ? 'Contre' : 'Première' }}</td>
            </tr>
            <tr>
                <th>Durée Reparation</th>
                <td>{{ ct_visite_buckup.vstDureeReparation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_visite_buckup_index') }}">Retour</a>

    <a href="{{ path('ct_visite_buckup_edit', {'id': ct_visite_buckup.id}) }}">Modifier</a>

    {{ include('ct_visite_buckup/_delete_form.html.twig') }}
{% endblock %}
