{% extends 'base.html.twig' %}

{% block title %}CtVisiteBuckup{% endblock %}

{% block body %}
    <h1>CtVisiteBuckup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_visite_buckup.id }}</td>
            </tr>
            <tr>
                <th>CtCarteGriseId</th>
                <td>{{ ct_visite_buckup.ctCarteGriseId }}</td>
            </tr>
            <tr>
                <th>CtCentreId</th>
                <td>{{ ct_visite_buckup.ctCentreId }}</td>
            </tr>
            <tr>
                <th>CtTypeVisiteId</th>
                <td>{{ ct_visite_buckup.ctTypeVisiteId }}</td>
            </tr>
            <tr>
                <th>CtUsageId</th>
                <td>{{ ct_visite_buckup.ctUsageId }}</td>
            </tr>
            <tr>
                <th>CtUserId</th>
                <td>{{ ct_visite_buckup.ctUserId }}</td>
            </tr>
            <tr>
                <th>CtVerificateurId</th>
                <td>{{ ct_visite_buckup.ctVerificateurId }}</td>
            </tr>
            <tr>
                <th>VstNumPv</th>
                <td>{{ ct_visite_buckup.vstNumPv }}</td>
            </tr>
            <tr>
                <th>VstNumFeuilleCaisse</th>
                <td>{{ ct_visite_buckup.vstNumFeuilleCaisse }}</td>
            </tr>
            <tr>
                <th>VstDateExpiration</th>
                <td>{{ ct_visite_buckup.vstDateExpiration ? ct_visite_buckup.vstDateExpiration|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>VstCreated</th>
                <td>{{ ct_visite_buckup.vstCreated ? ct_visite_buckup.vstCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>VstUpdated</th>
                <td>{{ ct_visite_buckup.vstUpdated ? ct_visite_buckup.vstUpdated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CtUtilisationId</th>
                <td>{{ ct_visite_buckup.ctUtilisationId }}</td>
            </tr>
            <tr>
                <th>VstIsApte</th>
                <td>{{ ct_visite_buckup.vstIsApte ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>VstIsContreVisite</th>
                <td>{{ ct_visite_buckup.vstIsContreVisite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>VstDureeReparation</th>
                <td>{{ ct_visite_buckup.vstDureeReparation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_visite_buckup_index') }}">back to list</a>

    <a href="{{ path('ct_visite_buckup_edit', {'id': ct_visite_buckup.id}) }}">edit</a>

    {{ include('ct_visite_buckup/_delete_form.html.twig') }}
{% endblock %}
