{% extends 'base.html.twig' %}

{% block title %}CtGenre{% endblock %}

{% block body %}
    <h1>CtGenre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_genre.id }}</td>
            </tr>
            <tr>
                <th>GrLibelle</th>
                <td>{{ ct_genre.grLibelle }}</td>
            </tr>
            <tr>
                <th>GrCode</th>
                <td>{{ ct_genre.grCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_genre_index') }}">back to list</a>

    <a href="{{ path('ct_genre_edit', {'id': ct_genre.id}) }}">edit</a>

    {{ include('ct_genre/_delete_form.html.twig') }}
{% endblock %}
