{% extends 'base.html.twig' %}

{% block title %}CtReception index{% endblock %}

{% block body %}
    <h1>Liste Réception</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rcp Mise en Service</th>
                <th>Rcp Immatriculation</th>
                <th>Rcp Proprietaire</th>
                <th>Rcp Profession</th>
                <th>Rcp Adresse</th>
                <th>Rcp Nombre Assis</th>
                <th>Rcp Nombre Debout</th>
                <th>Rcp Numéro Pv</th>
                <th>Rcp Numéro Groupe</th>
                <th>Rcp Création</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_reception in ct_receptions %}
            <tr>
                <td>{{ ct_reception.id }}</td>
                <td>{{ ct_reception.rcpMiseService ? ct_reception.rcpMiseService|date('d/m/Y') : '' }}</td>
                <td>{{ ct_reception.rcpImmatriculation }}</td>
                <td>{{ ct_reception.rcpProprietaire }}</td>
                <td>{{ ct_reception.rcpProfession }}</td>
                <td>{{ ct_reception.rcpAdresse }}</td>
                <td>{{ ct_reception.rcpNbrAssis }}</td>
                <td>{{ ct_reception.rcpNbrDebout }}</td>
                <td>{{ ct_reception.rcpNumPv }}</td>
                <td>{{ ct_reception.rcpNumGroup }}</td>
                <td>{{ ct_reception.rcpCreated ? ct_reception.rcpCreated|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('ct_reception_show', {'id': ct_reception.id}) }}">voir</a>
                    <a href="{{ path('ct_reception_edit', {'id': ct_reception.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_reception_new') }}">Créer</a>
{% endblock %}
