{% extends 'base.html.twig' %}

{% block title %}CtReception{% endblock %}

{% block body %}
    <h1>Reception</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_reception.id }}</td>
            </tr>
            <tr>
                <th>Mise Service</th>
                <td>{{ ct_reception.rcpMiseService ? ct_reception.rcpMiseService|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ ct_reception.rcpImmatriculation }}</td>
            </tr>
            <tr>
                <th>Proprietaire</th>
                <td>{{ ct_reception.rcpProprietaire }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ ct_reception.rcpProfession }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ ct_reception.rcpAdresse }}</td>
            </tr>
            <tr>
                <th>Nombre de place Assise</th>
                <td>{{ ct_reception.rcpNbrAssis }}</td>
            </tr>
            <tr>
                <th>Nombre de place Debout</th>
                <td>{{ ct_reception.rcpNbrDebout }}</td>
            </tr>
            <tr>
                <th>Numéro Pv</th>
                <td>{{ ct_reception.rcpNumPv }}</td>
            </tr>
            <tr>
                <th>Numéro Groupe</th>
                <td>{{ ct_reception.rcpNumGroup }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ ct_reception.rcpCreated ? ct_reception.rcpCreated|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_reception_index') }}">Retour</a>

    <a href="{{ path('ct_reception_edit', {'id': ct_reception.id}) }}">Modifier</a>

    {{ include('ct_reception/_delete_form.html.twig') }}
{% endblock %}
