{% extends 'base.html.twig' %}

{% block title %}CtProcesVerbal{% endblock %}

{% block body %}
    <h1>CtProcesVerbal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_proces_verbal.id }}</td>
            </tr>
            <tr>
                <th>PvType</th>
                <td>{{ ct_proces_verbal.pvType }}</td>
            </tr>
            <tr>
                <th>PvTarif</th>
                <td>{{ ct_proces_verbal.pvTarif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_proces_verbal_index') }}">back to list</a>

    <a href="{{ path('ct_proces_verbal_edit', {'id': ct_proces_verbal.id}) }}">edit</a>

    {{ include('ct_proces_verbal/_delete_form.html.twig') }}
{% endblock %}
