{% extends 'base.html.twig' %}

{% block title %}CtDroitPtacBackup index{% endblock %}

{% block body %}
    <h1>Liste Backup Droit PTAC</h1>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Genre Categorie Id</th>
                <th>Prix Minimum</th>
                <th>Prix Maximum</th>
                <th>Droit</th>
                <th>Type Droit Ptac Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_droit_ptac_backup in ct_droit_ptac_backups %}
            <tr>
                <td>{{ ct_droit_ptac_backup.id }}</td>
                <td>{{ ct_droit_ptac_backup.ctGenreCategorieId }}</td>
                <td>{{ ct_droit_ptac_backup.dpPrixMin }}</td>
                <td>{{ ct_droit_ptac_backup.dpPrixMax }}</td>
                <td>{{ ct_droit_ptac_backup.dpDroit }}</td>
                <td>{{ ct_droit_ptac_backup.ctTypeDroitPtacId }}</td>
                <td>
                    <a href="{{ path('ct_droit_ptac_backup_show', {'id': ct_droit_ptac_backup.id}) }}">voir</a>
                    <a href="{{ path('ct_droit_ptac_backup_edit', {'id': ct_droit_ptac_backup.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_droit_ptac_backup_new') }}">Créer</a>
{% endblock %}
