{% extends 'base.html.twig' %}

{% block title %}CtDroitPtacBackup{% endblock %}

{% block body %}
    <h1>Backup Droit PTAC</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_droit_ptac_backup.id }}</td>
            </tr>
            <tr>
                <th>Genre Categorie Id</th>
                <td>{{ ct_droit_ptac_backup.ctGenreCategorieId }}</td>
            </tr>
            <tr>
                <th>Prix Minimum</th>
                <td>{{ ct_droit_ptac_backup.dpPrixMin }}</td>
            </tr>
            <tr>
                <th>Prix Maximum</th>
                <td>{{ ct_droit_ptac_backup.dpPrixMax }}</td>
            </tr>
            <tr>
                <th>Droit</th>
                <td>{{ ct_droit_ptac_backup.dpDroit }}</td>
            </tr>
            <tr>
                <th>Type Droit PTAC Id</th>
                <td>{{ ct_droit_ptac_backup.ctTypeDroitPtacId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_droit_ptac_backup_index') }}">Retour</a>

    <a href="{{ path('ct_droit_ptac_backup_edit', {'id': ct_droit_ptac_backup.id}) }}">Modifier</a>

    {{ include('ct_droit_ptac_backup/_delete_form.html.twig') }}
{% endblock %}
