{% extends 'base.html.twig' %}

{% block title %}CtReceptionBackup{% endblock %}

{% block body %}
    <h1>Réception Backup</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_reception_backup.id }}</td>
            </tr>
            <tr>
                <th>Centre Id</th>
                <td>{{ ct_reception_backup.ctCentreId }}</td>
            </tr>
            <tr>
                <th>Motif Id</th>
                <td>{{ ct_reception_backup.ctMotifId }}</td>
            </tr>
            <tr>
                <th>Type Reception Id</th>
                <td>{{ ct_reception_backup.ctTypeReceptionId }}</td>
            </tr>
            <tr>
                <th>Secrétaire Id</th>
                <td>{{ ct_reception_backup.ctUserId }}</td>
            </tr>
            <tr>
                <th>Utilisation Id</th>
                <td>{{ ct_reception_backup.ctUtilisationId }}</td>
            </tr>
            <tr>
                <th>Vehicule Id</th>
                <td>{{ ct_reception_backup.ctVehiculeId }}</td>
            </tr>
            <tr>
                <th>Mise Service</th>
                <td>{{ ct_reception_backup.rcpMiseService ? ct_reception_backup.rcpMiseService|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ ct_reception_backup.rcpImmatriculation }}</td>
            </tr>
            <tr>
                <th>Proprietaire</th>
                <td>{{ ct_reception_backup.rcpProprietaire }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ ct_reception_backup.rcpProfession }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ ct_reception_backup.rcpAdresse }}</td>
            </tr>
            <tr>
                <th>Nombre de place Assise</th>
                <td>{{ ct_reception_backup.rcpNbrAssis }}</td>
            </tr>
            <tr>
                <th>Nombre de place Debout</th>
                <td>{{ ct_reception_backup.rcpNbrDebout }}</td>
            </tr>
            <tr>
                <th>Numéro Pv</th>
                <td>{{ ct_reception_backup.rcpNumPv }}</td>
            </tr>
            <tr>
                <th>Source d'Energie Id</th>
                <td>{{ ct_reception_backup.ctSourceEnergieId }}</td>
            </tr>
            <tr>
                <th>Carosserie Id</th>
                <td>{{ ct_reception_backup.ctCarosserieId }}</td>
            </tr>
            <tr>
                <th>Numéro Groupe</th>
                <td>{{ ct_reception_backup.rcpNumGroup }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ ct_reception_backup.rcpCreated ? ct_reception_backup.rcpCreated|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_reception_backup_index') }}">Retour</a>

    <a href="{{ path('ct_reception_backup_edit', {'id': ct_reception_backup.id}) }}">Modifier</a>

    {{ include('ct_reception_backup/_delete_form.html.twig') }}
{% endblock %}
