{% extends 'base.html.twig' %}

{% block title %}CtUser index{% endblock %}

{% block body %}
    <h1>Liste Utilisateur</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Username Canonical</th>
                <th>Email</th>
                <th>Email Canonical</th>
                <th>Enabled</th>
                <th>Salt</th>
                <th>Password</th>
                <th>Last Login</th>
                <th>Confirmation Token</th>
                <th>Password Requested At</th>
                <th>Roles</th>
                <th>Usr Name</th>
                <th>Usr Email</th>
                <th>Usr Locked</th>
                <th>Usr Password</th>
                <th>Usr Adresse</th>
                <th>Usr Token</th>
                <th>Usr Created At</th>
                <th>Usr Updated At</th>
                <th>Usr Locked Update</th>
                <th>Usr Request Update</th>
                <th>Usr Profession</th>
                <th>Usr Telephone</th>
                <th>Usr Is Connected</th>
                <th>Usr Presence</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_user in ct_users %}
            <tr>
                <td>{{ ct_user.id }}</td>
                <td>{{ ct_user.username }}</td>
                <td>{{ ct_user.usernameCanonical }}</td>
                <td>{{ ct_user.email }}</td>
                <td>{{ ct_user.emailCanonical }}</td>
                <td>{{ ct_user.enabled ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_user.salt }}</td>
                <td>{{ ct_user.password }}</td>
                <td>{{ ct_user.lastLogin ? ct_user.lastLogin|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_user.confirmationToken }}</td>
                <td>{{ ct_user.passwordRequestedAt ? ct_user.passwordRequestedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_user.roles ? ct_user.roles|join(', ') : '' }}</td>
                <td>{{ ct_user.usrName }}</td>
                <td>{{ ct_user.usrEmail }}</td>
                <td>{{ ct_user.usrLocked ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_user.usrPassword }}</td>
                <td>{{ ct_user.usrAdresse }}</td>
                <td>{{ ct_user.usrToken }}</td>
                <td>{{ ct_user.usrCreatedAt ? ct_user.usrCreatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_user.usrUpdatedAt ? ct_user.usrUpdatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_user.usrLockedUpdate ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_user.usrRequestUpdate ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_user.usrProfession }}</td>
                <td>{{ ct_user.usrTelephone }}</td>
                <td>{{ ct_user.usrIsConnected ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_user.usrPresence ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('ct_user_show', {'id': ct_user.id}) }}">voir</a>
                    <a href="{{ path('ct_user_edit', {'id': ct_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="27">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_user_new') }}">Créer</a>
{% endblock %}
