{% extends 'base.html.twig' %}

{% block title %}CtUser{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ ct_user.username }}</td>
            </tr>
            <tr>
                <th>Username Canonical</th>
                <td>{{ ct_user.usernameCanonical }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ ct_user.email }}</td>
            </tr>
            <tr>
                <th>Email Canonical</th>
                <td>{{ ct_user.emailCanonical }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ ct_user.enabled ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ ct_user.salt }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ ct_user.password }}</td>
            </tr>
            <tr>
                <th>Last Login</th>
                <td>{{ ct_user.lastLogin ? ct_user.lastLogin|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Confirmation Token</th>
                <td>{{ ct_user.confirmationToken }}</td>
            </tr>
            <tr>
                <th>Password Requested At</th>
                <td>{{ ct_user.passwordRequestedAt ? ct_user.passwordRequestedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ ct_user.roles ? ct_user.roles|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Usr Name</th>
                <td>{{ ct_user.usrName }}</td>
            </tr>
            <tr>
                <th>Usr Email</th>
                <td>{{ ct_user.usrEmail }}</td>
            </tr>
            <tr>
                <th>Usr Locked</th>
                <td>{{ ct_user.usrLocked ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Usr Password</th>
                <td>{{ ct_user.usrPassword }}</td>
            </tr>
            <tr>
                <th>Usr Adresse</th>
                <td>{{ ct_user.usrAdresse }}</td>
            </tr>
            <tr>
                <th>Usr Token</th>
                <td>{{ ct_user.usrToken }}</td>
            </tr>
            <tr>
                <th>Usr CreatedAt</th>
                <td>{{ ct_user.usrCreatedAt ? ct_user.usrCreatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Usr UpdatedAt</th>
                <td>{{ ct_user.usrUpdatedAt ? ct_user.usrUpdatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Usr Locked Update</th>
                <td>{{ ct_user.usrLockedUpdate ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Usr Request Update</th>
                <td>{{ ct_user.usrRequestUpdate ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Usr Profession</th>
                <td>{{ ct_user.usrProfession }}</td>
            </tr>
            <tr>
                <th>Usr Telephone</th>
                <td>{{ ct_user.usrTelephone }}</td>
            </tr>
            <tr>
                <th>Usr Est Connected</th>
                <td>{{ ct_user.usrIsConnected ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Usr Presence</th>
                <td>{{ ct_user.usrPresence ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_user_index') }}">Retour</a>

    <a href="{{ path('ct_user_edit', {'id': ct_user.id}) }}">Modifier</a>

    {{ include('ct_user/_delete_form.html.twig') }}
{% endblock %}
