{% extends 'base.html.twig' %}

{% block title %}CtGenreCategorie index{% endblock %}

{% block body %}
    <h1>Liste des Categorie de Genre</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gc Libelle</th>
                <th>Gc Est Calculable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_genre_categorie in ct_genre_categories %}
            <tr>
                <td>{{ ct_genre_categorie.id }}</td>
                <td>{{ ct_genre_categorie.gcLibelle }}</td>
                <td>{{ ct_genre_categorie.gcIsCalculable ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('ct_genre_categorie_show', {'id': ct_genre_categorie.id}) }}">voir</a>
                    <a href="{{ path('ct_genre_categorie_edit', {'id': ct_genre_categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_genre_categorie_new') }}">Créer</a>
{% endblock %}
