{% extends 'base.html.twig' %}

{% block title %}CtGenreCategorie index{% endblock %}

{% block body %}
    <h1>CtGenreCategorie index</h1>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>GcLibelle</th>
                <th>GcIsCalculable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_genre_categorie in ct_genre_categories %}
            <tr>
                <td>{{ ct_genre_categorie.id }}</td>
                <td>{{ ct_genre_categorie.gcLibelle }}</td>
                <td>{{ ct_genre_categorie.gcIsCalculable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('ct_genre_categorie_show', {'id': ct_genre_categorie.id}) }}">show</a>
                    <a href="{{ path('ct_genre_categorie_edit', {'id': ct_genre_categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_genre_categorie_new') }}">Create new</a>
{% endblock %}
