{% extends 'base.html.twig' %}

{% block title %}CtGenreCategorie{% endblock %}

{% block body %}
    <h1>Genre Catégorie</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_genre_categorie.id }}</td>
            </tr>
            <tr>
                <th>Genre catégorie Libelle</th>
                <td>{{ ct_genre_categorie.gcLibelle }}</td>
            </tr>
            <tr>
                <th>Genre catégorie Est Calculable</th>
                <td>{{ ct_genre_categorie.gcIsCalculable ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_genre_categorie_index') }}">Retour</a>

    <a href="{{ path('ct_genre_categorie_edit', {'id': ct_genre_categorie.id}) }}">Modifier</a>

    {{ include('ct_genre_categorie/_delete_form.html.twig') }}
{% endblock %}
