{% extends 'base.html.twig' %}

{% block title %}CtHistorique index{% endblock %}

{% block body %}
    <h1>CtHistorique index</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Historique Description</th>
                <th>Historique Date Création</th>
                <th>Historique Est Vue</th>
                <th>Centre Id</th>
                <th>Type Historique</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_historique in ct_historiques %}
            <tr>
                <td>{{ ct_historique.id }}</td>
                <td>{{ ct_historique.hstDescription }}</td>
                <td>{{ ct_historique.hstDateCreate ? ct_historique.hstDateCreate|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_historique.hstIsView ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_historique.ctCentreId }}</td>
                <td>{{ ct_historique.histType }}</td>
                <td>
                    <a href="{{ path('ct_historique_show', {'id': ct_historique.id}) }}">voir</a>
                    <a href="{{ path('ct_historique_edit', {'id': ct_historique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_historique_new') }}">Créer</a>
{% endblock %}
