{% extends 'base.html.twig' %}

{% block title %}CtHistorique{% endblock %}

{% block body %}
    <h1>Historique</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_historique.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ct_historique.hstDescription }}</td>
            </tr>
            <tr>
                <th>Date Création</th>
                <td>{{ ct_historique.hstDateCreate ? ct_historique.hstDateCreate|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Est Vue</th>
                <td>{{ ct_historique.hstIsView ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Centre Id</th>
                <td>{{ ct_historique.ctCentreId }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ ct_historique.histType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_historique_index') }}">Retour</a>

    <a href="{{ path('ct_historique_edit', {'id': ct_historique.id}) }}">Modifier</a>

    {{ include('ct_historique/_delete_form.html.twig') }}
{% endblock %}
