{% extends 'base.html.twig' %}

{% block title %}CtCarteGrise{% endblock %}

{% block body %}
    <h1>Carte Grise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_carte_grise.id }}</td>
            </tr>
            <tr>
                <th>Date d'Emission</th>
                <td>{{ ct_carte_grise.cgDateEmission ? ct_carte_grise.cgDateEmission|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nom propriétaire</th>
                <td>{{ ct_carte_grise.cgNom }}</td>
            </tr>
            <tr>
                <th>Prénom propriétaire</th>
                <td>{{ ct_carte_grise.cgPrenom }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ ct_carte_grise.cgProfession }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ ct_carte_grise.cgAdresse }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ ct_carte_grise.cgCommune }}</td>
            </tr>
            <tr>
                <th>Nombre de place Assise</th>
                <td>{{ ct_carte_grise.cgNbrAssis }}</td>
            </tr>
            <tr>
                <th>Nombre de place Debout</th>
                <td>{{ ct_carte_grise.cgNbrDebout }}</td>
            </tr>
            <tr>
                <th>Puissance Administrative</th>
                <td>{{ ct_carte_grise.cgPuissanceAdmin }}</td>
            </tr>
            <tr>
                <th>Mise En Service</th>
                <td>{{ ct_carte_grise.cgMiseEnService ? ct_carte_grise.cgMiseEnService|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Patente</th>
                <td>{{ ct_carte_grise.cgPatente }}</td>
            </tr>
            <tr>
                <th>Ani</th>
                <td>{{ ct_carte_grise.cgAni }}</td>
            </tr>
            <tr>
                <th>Rta</th>
                <td>{{ ct_carte_grise.cgRta }}</td>
            </tr>
            <tr>
                <th>Numéro de la Carte Violette</th>
                <td>{{ ct_carte_grise.cgNumCarteViolette }}</td>
            </tr>
            <tr>
                <th>Date de la Carte Violette</th>
                <td>{{ ct_carte_grise.cgDateCarteViolette ? ct_carte_grise.cgDateCarteViolette|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu de la Carte Violette</th>
                <td>{{ ct_carte_grise.cgLieuCarteViolette }}</td>
            </tr>
            <tr>
                <th>Numéro Vignette</th>
                <td>{{ ct_carte_grise.cgNumVignette }}</td>
            </tr>
            <tr>
                <th>Date de la Vignette</th>
                <td>{{ ct_carte_grise.cgDateVignette ? ct_carte_grise.cgDateVignette|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu de la Vignette</th>
                <td>{{ ct_carte_grise.cgLieuVignette }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ ct_carte_grise.cgImmatriculation }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ ct_carte_grise.cgCreated ? ct_carte_grise.cgCreated|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nom Cooperative</th>
                <td>{{ ct_carte_grise.cgNomCooperative }}</td>
            </tr>
            <tr>
                <th>Itineraire</th>
                <td>{{ ct_carte_grise.cgItineraire }}</td>
            </tr>
            <tr>
                <th>Est Transport</th>
                <td>{{ ct_carte_grise.cgIsTransport ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Numéro d'Identification</th>
                <td>{{ ct_carte_grise.cgNumIdentification }}</td>
            </tr>
            <tr>
                <th>Zone Desserte</th>
                <td>{{ ct_carte_grise.cgZoneDeserte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_carte_grise_index') }}">Retour</a>

    <a href="{{ path('ct_carte_grise_edit', {'id': ct_carte_grise.id}) }}">Modifier</a>

    {{ include('ct_carte_grise/_delete_form.html.twig') }}
{% endblock %}
