{% extends 'base.html.twig' %}

{% block title %}CtConstAvDed index{% endblock %}

{% block body %}
    <h1>Liste Constatation Avant Dedouanement</h1>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cad Provenance</th>
                <th>Cad Divers</th>
                <th>Cad Nom Proprietaire</th>
                <th>Cad Adresse Proprietaire</th>
                <th>Cad Bon Etat</th>
                <th>Cad SecPers</th>
                <th>Cad SecMarch</th>
                <th>Cad ProtecEnv</th>
                <th>Cad Numero</th>
                <th>Cad Immatriculation</th>
                <th>Cad Date Embarquement</th>
                <th>Cad Lieu Embarquement</th>
                <th>Cad Created</th>
                <th>Cad Conforme</th>
                <th>Cad Observation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_const_av_ded in ct_const_av_deds %}
            <tr>
                <td>{{ ct_const_av_ded.id }}</td>
                <td>{{ ct_const_av_ded.cadProvenance }}</td>
                <td>{{ ct_const_av_ded.cadDivers }}</td>
                <td>{{ ct_const_av_ded.cadProprietaireNom }}</td>
                <td>{{ ct_const_av_ded.cadProprietaireAdresse }}</td>
                <td>{{ ct_const_av_ded.cadBonEtat ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_const_av_ded.cadSecPers ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_const_av_ded.cadSecMarch ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_const_av_ded.cadProtecEnv ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_const_av_ded.cadNumero }}</td>
                <td>{{ ct_const_av_ded.cadImmatriculation }}</td>
                <td>{{ ct_const_av_ded.cadDateEmbarquement ? ct_const_av_ded.cadDateEmbarquement|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_const_av_ded.cadLieuEmbarquement }}</td>
                <td>{{ ct_const_av_ded.cadCreated ? ct_const_av_ded.cadCreated|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_const_av_ded.cadConforme ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_const_av_ded.cadObservation }}</td>
                <td>
                    <a href="{{ path('ct_const_av_ded_show', {'id': ct_const_av_ded.id}) }}">voir</a>
                    <a href="{{ path('ct_const_av_ded_edit', {'id': ct_const_av_ded.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_const_av_ded_new') }}">Créer</a>
{% endblock %}
