{% extends 'base.html.twig' %}

{% block title %}CtConstAvDed{% endblock %}

{% block body %}
    <h1>Constatation Avant Dedouanement</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_const_av_ded.id }}</td>
            </tr>
            <tr>
                <th>Provenance</th>
                <td>{{ ct_const_av_ded.cadProvenance }}</td>
            </tr>
            <tr>
                <th>Divers</th>
                <td>{{ ct_const_av_ded.cadDivers }}</td>
            </tr>
            <tr>
                <th>Nom Propriétaire</th>
                <td>{{ ct_const_av_ded.cadProprietaireNom }}</td>
            </tr>
            <tr>
                <th>Adresse Proprietaire</th>
                <td>{{ ct_const_av_ded.cadProprietaireAdresse }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ ct_const_av_ded.cadBonEtat ? 'Bonne' : 'Mauvaise' }}</td>
            </tr>
            <tr>
                <th>SecPers</th>
                <td>{{ ct_const_av_ded.cadSecPers ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>SecMarch</th>
                <td>{{ ct_const_av_ded.cadSecMarch ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Protection Environnement</th>
                <td>{{ ct_const_av_ded.cadProtecEnv ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ ct_const_av_ded.cadNumero }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ ct_const_av_ded.cadImmatriculation }}</td>
            </tr>
            <tr>
                <th>Date Embarquement</th>
                <td>{{ ct_const_av_ded.cadDateEmbarquement ? ct_const_av_ded.cadDateEmbarquement|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu Embarquement</th>
                <td>{{ ct_const_av_ded.cadLieuEmbarquement }}</td>
            </tr>
            <tr>
                <th>Création</th>
                <td>{{ ct_const_av_ded.cadCreated ? ct_const_av_ded.cadCreated|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Conforme</th>
                <td>{{ ct_const_av_ded.cadConforme ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>CadObservation</th>
                <td>{{ ct_const_av_ded.cadObservation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_const_av_ded_index') }}">Retour</a>

    <a href="{{ path('ct_const_av_ded_edit', {'id': ct_const_av_ded.id}) }}">Modifier</a>

    {{ include('ct_const_av_ded/_delete_form.html.twig') }}
{% endblock %}
