{% extends 'base.html.twig' %}

{% block title %}CtZoneDeserte index{% endblock %}

{% block body %}
    <h1>Liste Zone Desserte</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Zone Desserte Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_zone_deserte in ct_zone_desertes %}
            <tr>
                <td>{{ ct_zone_deserte.id }}</td>
                <td>{{ ct_zone_deserte.zdLibelle }}</td>
                <td>
                    <a href="{{ path('ct_zone_deserte_show', {'id': ct_zone_deserte.id}) }}">voir</a>
                    <a href="{{ path('ct_zone_deserte_edit', {'id': ct_zone_deserte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_zone_deserte_new') }}">Créer</a>
{% endblock %}
