{% extends 'base.html.twig' %}

{% block title %}CtVisite index{% endblock %}

{% block body %}
    <h1>Liste Visite</h1>
    <div  align="center"><a href="{{ path('acceuil') }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"> Acceuil</i></a></div>

    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numéro Pv</th>
                <th>Numéro Feuille de Caisse</th>
                <th>Date d'Expiration</th>
                <th>Création</th>
                <th>Modifier</th>
                <th>Aptitude</th>
                <th>Type visite</th>
                <th>DureeReparation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_visite in ct_visites %}
            <tr>
                <td>{{ ct_visite.id }}</td>
                <td>{{ ct_visite.vstNumPv }}</td>
                <td>{{ ct_visite.vstNumFeuilleCaisse }}</td>
                <td>{{ ct_visite.vstDateExpiration ? ct_visite.vstDateExpiration|date('d/m/Y') : '' }}</td>
                <td>{{ ct_visite.vstCreated ? ct_visite.vstCreated|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_visite.vstUpdated ? ct_visite.vstUpdated|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_visite.vstIsApte ? 'Apte' : 'Inapte' }}</td>
                <td>{{ ct_visite.vstIsContreVisite ? 'Contre' : 'Première' }}</td>
                <td>{{ ct_visite.vstDureeReparation }}</td>
                <td>
                    <a href="{{ path('ct_visite_show', {'id': ct_visite.id}) }}">voir</a>
                    <a href="{{ path('ct_visite_edit', {'id': ct_visite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct_visite_new') }}">Créer</a>
{% endblock %}
