{% extends 'base.html.twig' %}

{% block title %}CtVisite{% endblock %}

{% block body %}
    <h1>Visite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_visite.id }}</td>
            </tr>
            <tr>
                <th>Numéro Pv</th>
                <td>{{ ct_visite.vstNumPv }}</td>
            </tr>
            <tr>
                <th>Numéro FeuilleCaisse</th>
                <td>{{ ct_visite.vstNumFeuilleCaisse }}</td>
            </tr>
            <tr>
                <th>Date Expiration</th>
                <td>{{ ct_visite.vstDateExpiration ? ct_visite.vstDateExpiration|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ ct_visite.vstCreated ? ct_visite.vstCreated|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ ct_visite.vstUpdated ? ct_visite.vstUpdated|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Aptitude</th>
                <td>{{ ct_visite.vstIsApte ? 'Apte' : 'Inapte' }}</td>
            </tr>
            <tr>
                <th>Type de visite</th>
                <td>{{ ct_visite.vstIsContreVisite ? 'Contre' : 'Première' }}</td>
            </tr>
            <tr>
                <th>Durée Réparation</th>
                <td>{{ ct_visite.vstDureeReparation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct_visite_index') }}">Retour</a>

    <a href="{{ path('ct_visite_edit', {'id': ct_visite.id}) }}">Modifier</a>

    {{ include('ct_visite/_delete_form.html.twig') }}
{% endblock %}
